
.info-box {
    background-color:#0fa;
    text-align: center;
    padding: 50px ;
    width: 300px;
    margin:auto;
    margin-top:300px;
    border-radius: 30px;
}
 .submit-button{
    font-size: large;
 }
 body{
    background-image: url(https://wallpaperaccess.com/full/48074.jpg);
    background-size: cover;
    background-position: center;
    }
.loginlink{
    text-decoration: none;
    color:black;
    border-color: black;
    border-style: solid;
    background-color: rgb(44, 253, 96);
    padding: 10px 30px ;
    border-radius: 10px
}